.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.main-footer{
  background-color: grey;
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  color:white;
}

.row{
text-align: left;
}

.footer-bottom p{
  text-align: center;
  text-size-adjust: xs;
}

.page-container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrap{
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
